[Desktop Entry]
Version=1.0
Name=GlobalProtect VPN
Comment=Conectar a una VPN GlobalProtect
Exec=gpvpn connect
Icon=gpvpn
Terminal=false
Type=Application
Categories=Network;
StartupNotify=true
Actions=Disconnect;

[Desktop Action Disconnect]
Name=Desconectar
Exec=gpvpn disconnect
